.App-Section {
    display: block;
    height: calc(100vh-150px);
}

.App-logo {
    height: 25vmin;
    pointer-events: none;
    float: center;
    
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 30s linear;
    }
  }
  
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  